
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-100));
}
.homeEnterBtn {
  margin-top: 2em;
}

.homeTextWrapper {
  background: var(--bg-200);
  border-left: solid 5px var(--primary-100);
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
  margin-top: 3em;
  padding: 1em 2em;
}

.homeText {
  color: var(--text-200);
  font-family: 'Montserrat', sans-serif ;
  font-size: 1.3em;
}
