.linkCard {
  align-items: center;
  background: var(--bg-300);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin: .7em auto;
  width: 70vw;
}
.linkCard input {
  margin-left: 8rem;
  width: 15rem;
  font-size: 1.1em;
}

.linkCardTitle {
  display: flex;
  flex-direction: row;
  margin: .5em auto;
  text-align: center;
}
.linkCardUrl {
  display: flex;
  flex-direction: row;
}

.linkTitle {
  font-family: 'Amaranth', sans-serif;
  font-size: 1.3em;
  margin: .3em auto auto 5em;
}

.linkUrl {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-style: italic;
  margin: .3em auto auto 5em;
}